

<md-grid-list [cols]="fixedCols"  [style.background]="'lightblue'" [rowHeight]="fixedRowHeight">
   <md-grid-tile> </md-grid-tile>
   <md-grid-tile>
 
   </md-grid-tile>
   <md-grid-tile> </md-grid-tile>
</md-grid-list>

<md-grid-list cols="3" [style.background]="'lightblue'">
   <md-grid-tile> </md-grid-tile>
   <md-grid-tile>
       <app-card></app-card>
   </md-grid-tile>
   <md-grid-tile> </md-grid-tile>
</md-grid-list>

<md-grid-list [cols]="fixedCols"  [style.background]="'lightblue'">
   <md-grid-tile> </md-grid-tile>
   <md-grid-tile>
 
   </md-grid-tile>
   <md-grid-tile> </md-grid-tile>
</md-grid-list>